In [67]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

AttributeError: module 'matplotlib.cbook' has no attribute '_classproperty'

In [3]:
energy_df = pd.read_csv("all_energy_statistics.csv")

In [4]:
energy_df.head()

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates

In [14]:
# identify the types of objects in the data frame
energy_df.info()

# data is missing from the quantity footnotes column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 7 columns):
country_or_area          1189482 non-null object
commodity_transaction    1189482 non-null object
year                     1189482 non-null int64
unit                     1189482 non-null object
quantity                 1189482 non-null float64
quantity_footnotes       163946 non-null float64
category                 1189482 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 63.5+ MB

In [10]:
# Find all unique countries, categories, and commodity transactions
print(energy_df.country_or_area.unique())
print(energy_df.category.unique())
print(energy_df.commodity_transaction.unique())
print(energy_df.unit.unique())
print(energy_df.quantity_footnotes.unique())

['Austria' 'Belgium' 'Czechia' 'Finland' 'France' 'Greece' 'Hungary'
 'Italy' 'Korea, Republic of' 'Netherlands' 'Romania' 'Serbia' 'Slovakia'
 'Ukraine' 'United Kingdom' 'United States' 'Brunei Darussalam' 'Bulgaria'
 'Canada' 'Chile' 'Croatia' 'Iran (Islamic Rep. of)' 'Jordan' 'Lithuania'
 'Mexico' 'Oman' 'Other Asia' 'Poland' 'Portugal' 'Spain' 'Sweden'
 'Switzerland' 'T.F.Yug.Rep. Macedonia' 'Turkey' 'Uzbekistan' 'Argentina'
 'Colombia' 'Germany' 'Norway' 'Australia' 'China, Macao SAR' 'Japan'
 'Denmark' 'Ireland' 'Philippines' 'Bangladesh' 'Eritrea' 'Ethiopia'
 'Lesotho' 'Nepal' 'Niger' 'Pakistan' 'Serbia and Montenegro' 'Tunisia'
 'Botswana' 'Georgia' 'Republic of Moldova' 'Peru' 'South Africa'
 'Iceland' 'Latvia' 'Luxembourg' 'Cuba' 'Kyrgyzstan' 'Singapore'
 'Thailand' 'United Arab Emirates' 'Uruguay' 'Armenia' 'Fiji'
 "Korea, Dem.Ppl's.Rep." 'Russian Federation' 'Swaziland' 'Zimbabwe'
 'Afghanistan' 'Antigua and Barbuda' 'Azerbaijan' 'Bahamas' 'Belize'
 'Bolivia (Plur. State of)' 'Brazil' 'Burkina Faso' 'Cameroon'
 'Cayman Islands' 'Central African Rep.' 'China' 'Comoros' 'Congo'
 'Costa Rica' "Côte d'Ivoire" 'Dem. Rep. of the Congo'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia'
 'Ethiopia, incl. Eritrea' 'Faeroe Islands' 'French Guiana'
 'Germany, Fed. R. (former)' 'Greenland' 'Guatemala' 'Guinea' 'Guyana'
 'Honduras' 'Indonesia' 'Israel' 'Jamaica' 'Jersey' 'Kazakhstan' 'Kenya'
 'Kuwait' "Lao People's Dem. Rep." 'Liberia' 'Libya' 'Malawi' 'Malaysia'
 'Maldives' 'Mauritania' 'Mayotte' 'Morocco' 'Myanmar' 'Namibia'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niue' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Sao Tome and Principe' 'Senegal'
 'Seychelles' 'Slovenia' 'Solomon Islands' 'Sri Lanka' 'Sudan (former)'
 'Suriname' 'Togo' 'Tonga' 'Trinidad and Tobago' 'United Rep. of Tanzania'
 'Venezuela (Bolivar. Rep.)' 'Yugoslavia, SFR (former)' 'Zambia' 'Algeria'
 'Curaçao' 'Gabon' 'Malta' 'Neth. Antilles (former)' 'Sierra Leone'
 'USSR (former)' 'Barbados' 'Benin' 'Chad' 'Djibouti' 'French Polynesia'
 'Ghana' 'Grenada' 'Guadeloupe' 'Haiti' 'Iraq' 'Kiribati' 'Madagascar'
 'Mali' 'Martinique' 'Pacific Islands (former)' 'Palau'
 'St. Helena and Depend.' 'St. Vincent-Grenadines' 'Syrian Arab Republic'
 'Uganda' 'Yemen' 'Yemen, Dem. (former)' 'Burundi' 'India' 'Mauritius'
 'Mozambique' 'Nigeria' 'Réunion' 'Rwanda' 'Samoa' 'Somalia'
 'St. Kitts-Nevis' 'Viet Nam' 'Belarus' 'Cyprus' 'Cabo Verde' 'Albania'
 'Bahrain' 'Bosnia and Herzegovina' 'China, Hong Kong SAR'
 'Czechoslovakia (former)' 'Angola' 'Bermuda' 'Bhutan' 'Equatorial Guinea'
 'Lebanon' 'Saudi Arabia' 'St. Lucia' 'St. Pierre-Miquelon'
 'State of Palestine' 'Tajikistan' 'German Dem. R. (former)' 'Anguilla'
 'Mongolia' 'Montenegro' 'Cambodia' 'South Sudan' 'Sudan' 'Andorra'
 'Aruba' 'Bonaire, St Eustatius, Saba' 'British Virgin Islands' 'Dominica'
 'Falkland Is. (Malvinas)' 'Gambia' 'Gibraltar' 'Qatar'
 'Sint Maarten (Dutch part)' 'Turkmenistan' 'Turks and Caicos Islands'
 'Vanuatu' 'Guinea-Bissau' 'Micronesia (Fed. States of)' 'Timor-Leste'
 'Yemen Arab Rep. (former)' 'American Samoa' 'Liechtenstein' 'Puerto Rico'
 'Cook Islands' 'Guam' 'Guernsey' 'Isle of Man' 'Marshall Islands'
 'Montserrat' 'Nauru' 'Northern Mariana Islands' 'Tuvalu'
 'United States Virgin Is.' 'Wallis and Futuna Is.'
 'Commonwealth of Independent States (CIS)' 'Antarctic Fisheries']
['additives_and_oxygenates' 'animal_waste' 'anthracite'
 'aviation_gasoline' 'bagasse' 'biodiesel' 'biogases' 'biogasoline'
 'bitumen' 'black_liquor' 'blast_furnace_gas' 'brown_coal_briquettes'
 'brown_coal' 'charcoal' 'coal_tar' 'coke_oven_coke' 'coking_coal'
 'conventional_crude_oil' 'direct_use_of_geothermal_heat'
 'direct_use_of_solar_thermal_heat'
 'electricity_net_installed_capacity_of_electric_power_plants' 'ethane'
 'falling_water' 'fuel_oil' 'fuelwood' 'gas_coke' 'gas_oil_diesel_oil'
 'gasoline_type_jet_fuel' 'gasworks_gas' 'geothermal' 'hard_coal' 'heat'
 'hydro' 'industrial_waste' 'kerosene_type_jet_fuel' 'lignite'
 'liquified_petroleum_gas' 'lubricants' 'motor_gasoline'
 'municipal_wastes' 'naphtha' 'natural_gas_including_lng'
 'natural_gas_liquids' 'nuclear_electricity' 'of_which_biodiesel'
 'of_which_biogasoline' 'oil_shale_oil_sands' 'other_bituminous_coal'
 'other_coal_products' 'other_hydrocarbons' 'other_kerosene'
 'other_liquid_biofuels' 'other_oil_products_n_e_c'
 'other_recovered_gases' 'other_vegetal_material_and_residues'
 'paraffin_waxes' 'patent_fuel' 'peat' 'peat_products' 'petroleum_coke'
 'refinery_feedstocks' 'refinery_gas' 'solar_electricity'
 'sub_bituminous_coal' 'thermal_electricity'
 'tide_wave_and_ocean_electricity' 'total_electricity'
 'total_refinery_output' 'uranium'
 'white_spirit_and_special_boiling_point_industrial_spirits'
 'wind_electricity']
['Additives and Oxygenates - Exports' 'Additives and Oxygenates - Imports'
 'Additives and Oxygenates - Production' ...
 'White spirit and special boiling point industrial spirits - Transformation'
 'White spirit and special boiling point industrial spirits - Transformation in petrochemical plants'
 'Electricity - total wind production']
['Metric tons,  thousand' 'Terajoules' 'Kilowatts,  thousand'
 'Kilowatt-hours, million' 'Cubic metres, thousand' 'Metric Tons']
[nan  1.]

In [21]:
# find number of unique values in each column
print(f"Number of Unique Countries {energy_df.country_or_area.nunique()}")
print(f"Number of Unique Products {energy_df.category.nunique()}")
print(f"Number of Unique Transactions {energy_df.commodity_transaction.nunique()}")
print(f"Different Units of Measure {energy_df.unit.nunique()}")
print(f"Different FootNote Values {energy_df.quantity_footnotes.nunique()}")

Number of Unique Countries 243
Number of Unique Products 71
Number of Unique Transactions 2452
Different Units of Measure 6
Different FootNote Values 1

# There seems to be a wide variety of countries and types of fuels. Need to add another column that can group these into super groups such as continents/regions, product categories, and product transactions

In [25]:
# Drop FootNote Columner
energy_df = energy_df.drop(['quantity_footnotes'], axis=1)

# Rename category column to product and add empty column named product category
energy_df = energy_df.rename(columns={"category":"products"})
energy_df["product_category"] = np.nan

In [28]:
energy_df.head()

,country_or_area,commodity_transaction,year,unit,quantity,products,product_category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,additives_and_oxygenates,NaN
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,additives_and_oxygenates,NaN
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,additives_and_oxygenates,NaN
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,additives_and_oxygenates,NaN
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,additives_and_oxygenates,NaN

# Find total quantity of products exported or imported

In [58]:
energy_df.groupby(['products', 'unit']).mean().round(2).drop(['year', 'product_category'], axis=1)

                                                                            quantity
products                                           unit
additives_and_oxygenates                           Metric tons,  thousand     355.34
animal_waste                                       Terajoules               50930.30
anthracite                                         Metric tons,  thousand     534.20
aviation_gasoline                                  Metric tons,  thousand      18.19
bagasse                                            Metric tons,  thousand    3815.99
...                                                                              ...
total_electricity                                  Kilowatt-hours, million  26878.56
total_refinery_output                              Metric tons,  thousand   30916.52
uranium                                            Metric Tons              16874.83
white_spirit_and_special_boiling_point_industri... Metric tons,  thousand      93.87
wind_electricity                                   Kilowatt-hours, million   2820.81

[71 rows x 1 columns]

# Creating Product Categories

In [47]:
def product_categories():
    for product in energy_df.products:
        if energy_df.products == 'additives_and_oxygenates':
            print("This is an oil product")
#         return x.energy_df.fillna('Oil')

# energy_df['product_category'] = energy_df.apply(product_categories, axis=1)